.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
    text-align: start;
}

.portfolio__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
