.card {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 0 0;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: #f5f5f5;
}

.card__container_horizont {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding: 0 15px;
    margin: 5px 0;
}

.card__container_block:nth-child(3n) {
    margin-right: 0;
}

.card__subtitle {
    margin: 0;
}

.card__image {
    min-width: 300px;
    max-height: 180px;
    object-fit: cover;
}

.card__image_horizont {
    min-width: 100px;
    max-height: 100px;
}

.card__wrapper {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card__price {
    display: block;
    color: red;
    font-size: 20px;
    font-weight: 900;
}

.card__button {
    display: block;
    text-transform: uppercase;
    color: red;
    font-size: 15px;
    font-weight: 900;
    padding: 5px 10px;
    border-radius: 25px;
    border: solid 1px black;
    cursor: pointer;
}